@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
/* ===== Usage ===== */
.icon {
  width: 40px;
  height: 40px;
  border: 2px solid #F07F2E;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}